.modal-header {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item {
  display: flex;
  width: 960px;
  justify-content: space-between;
  align-items: center;
  transition: border-color 0.5s;
  cursor: pointer;
  border: 1px dashed #ccc; /* Серая тонкая рамка */
  padding: 20px;
  margin-bottom: 0; /* Убираем внутренний отступ между строками */
  flex-wrap: nowrap;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

.item:hover {
  border-color: #8a2be2;
  border-width: 3px;
  border-style: solid;
}

.total {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 50px;
  width: 150px;
  margin-left: 700px;

}


.remove-button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  padding: 8px 12px;
  margin-left: 10px;
}

/* Добавленные стили */
.CartSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.Controls {
  display: flex;
  align-items: center;
}

.CartSummary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.CartSummary p {
  margin-right: 10px;
}

.Controls {
  display: flex;
  align-items: center;
}

.item:hover {
  border-color: #8a2be2;
  border-width: 2px;
}

.item.item_selected {
  border-color: #8a2be2;
}

.button-container {
  display: flex;
  align-items: center;
}

.button-container:hover .remove-button {
  border-color: #8a2be2;
  border-width: 3px;
  border-style: solid;
}

.remove-button {
  background: #f2f2f2; /* Светло-серый цвет */
  border: 1px solid #a6a5a5;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  padding: 2px 12px; /* Уменьшенная высота и сохранение ширины отступов */
  margin-left: 10px;
  transition: border-color 0.5s, background 0.5s; /* Плавное изменение цвета границы и фона */
}
.CartSummary p {
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.CartSummary p::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: transparent;
  bottom: -3px;
  left: 0;
  transition: background-color 0.5s;
}

.CartSummary p:hover::after {
  background-color: #0000ff;
}



.item-info {
  flex: 1;
  margin-right: 10px; 
}

.item-details {
  display : flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 650px;
}

.item-price {
  display : flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
}

.item-count {
  display : flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
}

.total {
  margin-top: 10px;
  text-align: right;
}

.remove-button {
  background: #f2f2f2;
  border: 1px solid #a6a5a5;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  padding: 2px 12px;
  transition: border-color 0.5s, background 0.5s;
}
