.Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color 0.5s;
  cursor: pointer;
  border: 1px dashed #ccc; /* Серая тонкая рамка */
  padding: 20px;
  margin-bottom: 0; /* Убираем внутренний отступ между строками */
  flex-wrap: nowrap;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

.Item:hover {
  border-color: #8a2be2;
  border-width: 3px;
  border-style: solid;
}

.Item_selected {
  border-color: #8a2be2;
}

.Item-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.Item-code,
.Item-title,
.Item-price {
  margin: 0; /* Убираем внутренний отступ */
  padding: 0; /* Убираем внутренний отступ */
}

.Item-code {
  padding-right: 10px; /* Отступ между кодом и названием */
}

.Item-price {
  margin-left: auto; /* Помещаем цену в конец контейнера */
}

.Item-actions {
  padding-left: 10px; /* Отступ между ценой и кнопкой */
}


.Item-actions {
  padding-left: 10px; /* Отступ между ценой и кнопкой */
}
